.app {
    .header {
        font-size: 18px;
    }
    .logo {
        width: 100px;
    }
    .container {
        width: 100%;
        height: calc(100vh - 100px);
        display: inline-flex;
        .navbar {
            width: 30%;
            min-width: 200px;
            background-color: aqua;
            .link {
                display: block;
                margin: 10px 10px;
            }
        }
        .main {
            flex: 1;
        }
    }
}